* {
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
    color: #fff;
}


/* SECCIONES OCULTAS  */
#registroApp {
    display: none;
}

#sectionCliente {
    display: none;
}

#sectionAdministrador {
    display: none;
}

#btnMostrarRegistro {
    display: none;
}

/* SECCIONES OCULTAS  */