* {
    padding: 0;
    margin: 0;
    background-color: #1e1e1e;
    color: #fff;
}


/* SECCIONES OCULTAS  */

#sectionCliente {
    display: none;
}

#sectionAdministrador {
    display: none;
}

#btnMostrarRegistro {
    display: none;
}

#tablaComprasCliente {
    display: none;
}
table td, table th {
    border: 2px solid white;
}

table input {
    width: 150px;
    height: 150px;
}
img {
    width: 150px;
    height: 150px;
    object-fit: cover;
}
/* SECCIONES OCULTAS  */